@use '../../styles/mixins'as *;



.timestamp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-bottom: 100px;
  word-break: keep-all;

  .body {
    width: 100%;
    padding: 0 10px;

    .section-header-wrapper {
      margin-top: 40px;
    }

    .section-header-wrapper.first-header {
      margin-top: 0;
    }

    .timestamp {
      display: flex;
      justify-items: center;

      width: 100%;
      margin-left: 5px;
      padding: 10px 0;
      border-left: 2px solid #bdbdbd;

      font-size: 18px;
      font-weight: 400;

      &:first-child {
        padding-top: 7px;
      }

      &:last-child {
        padding-bottom: 7px;
      }

      &::before {
        position: relative;
        left: -1px;
        content: '';
        align-self: center;
        width: 10px;
        height: 10px;
        background-color: var(--background-color);
        border-radius: 10px;
        transform: translatex(-50%);
        border: 2px solid #828282;
      }

      .date {
        margin-left: 5px;
        margin-right: 5px;
        width: 115px;
        min-width: 115px;
        color: #828282;
        align-self: center;

        @include md {
          width: 200px;
          min-width: 200px;
        }

        @include mobile {
          flex-direction: column;
          font-size: 16px;
          width: 100px;
          margin-left: 0;
        }
      }

      .activity {
        line-height: 23px;
        width: 100%;

        .title-row {
          display: flex;
          gap: 8px;
          margin-bottom: 8px;

          .title {
            display: flex;
            line-height: 16px;
            font-weight: 650;
            font-size: 21px;

            a {
              margin-left: 5px;
            }

            @include mobile {
              flex-direction: column;
              font-size: 16px;
            }
          }

          .sub-title {
            display: flex;
            line-height: 16px;
            font-weight: 270;
            font-size: 14px;

            a {
              margin-left: 5px;
            }

            @include mobile {
              flex-direction: column;
              font-size: 13px;
            }
          }
          @include mobile {
            flex-direction: column;
          }
        }
        .activity-content {
          display: flex;
          line-height: 16px;
          font-weight: 400;
          font-size: 14px;

          a {
            margin-left: 5px;
          }

          @include mobile {
            flex-direction: column;
            font-size: 13px;
          }
        }
      }
    }
  }
}