@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.insights-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  //width: 600px;
  max-width: 100%;
  min-width: 50%;
  margin: 0 auto;
  padding: 100px 20px 40px 20px;
  box-sizing: border-box;

  // 모바일 버전
  @include mobile {
    padding: 100px 12px 40px 12px;
    width: 100%;
  }
}

.insights-empty-message {
  text-align: center;
  padding: 60px 20px;
  color: #999;
  font-size: 18px;

  @include md {
    padding: 60px 12px;
    font-size: 16px;
  }
}