@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.insights-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 20px 40px 20px;
  box-sizing: border-box;

  // 모바일 버전
  @include mobile {
    padding: 100px 0px 40px 0px;
  }
}

.insights-empty-message {
  text-align: center;
  padding: 60px 20px;
  color: #999;
  font-size: 18px;

  @include md {
    padding: 60px 12px;
    font-size: 16px;
  }
}